[submodule "external/ModernHttpClient"]
	path = external/ModernHttpClient
	url = https://github.com/paulcbetts/ModernHttpClient
[submodule "external/Sparkle"]
	path = external/Sparkle
	url = https://github.com/sparkle-project/Sparkle
